

.card {
  max-width: 18rem;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: 1px solid #138b0f;
}

.card:hover {
  box-shadow: 5px 5px 20px #04380b;
}

.card-body {
  background-color: #333;
  padding: 15px;
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-body {
  transform: translateY(0);
}

.card-img-top {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
}