.fest-container {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

.fest-image {
  max-width: 60%;
  height: auto;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #04380b;
}

.agradecemos-box {
  width: 100%;
  padding: 2rem 0;
}

.agradecemos-img {
  width: 40%;
  height: auto;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #04380b;
}

.agradecemos-text {
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
}

