@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    width: 100%;
    height: auto;
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #04380b;
}

::-webkit-scrollbar-thumb {
    background-color:  #138b0f;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color:  #0dbb1b;
}

